<?xml version="1.0"?>
<config>
    <modules>
        <Brera_MagentoConnector>
            <version>0.0.1</version>
        </Brera_MagentoConnector>
    </modules>
    <global>
        <models>
            <brera_magentoconnector>
                <class>Brera_MagentoConnector_Model</class>
                <resourceModel>brera_magentoconnector_resource</resourceModel>
            </brera_magentoconnector>
            <brera_magentoconnector_resource>
                <class>Brera_MagentoConnector_Model_Resource</class>
                <entities>
                    <product_queue>
                        <table>brera_product_queue</table>
                    </product_queue>
                </entities>
            </brera_magentoconnector_resource>
        </models>
        <helpers>
            <brera_magentoconnector>
                <class>Brera_MagentoConnector_Helper</class>
            </brera_magentoconnector>
        </helpers>
        <resources>
            <brera_magentoconnector_setup>
                <setup>
                    <module>Brera_MagentoConnector</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </brera_magentoconnector_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </brera_magentoconnector>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </brera_magentoconnector>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_attribute_update_after>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>catalogProductAttributeUpdateAfter</method>
                    </brera_magentoconnector>
                </observers>
            </catalog_product_attribute_update_after>
        </events>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Brera_MagentoConnector/>
            </modules>
        </suite>
    </phpunit>
</config>
