<?xml version="1.0"?>
<config>
    <modules>
        <Brera_MagentoConnector>
            <version>0.0.4</version>
        </Brera_MagentoConnector>
    </modules>
    <global>
        <blocks>
            <brera_magentoconnector>
                <class>Brera_MagentoConnector_Block</class>
            </brera_magentoconnector>
        </blocks>
        <models>
            <brera_magentoconnector>
                <class>Brera_MagentoConnector_Model</class>
                <resourceModel>brera_magentoconnector_resource</resourceModel>
            </brera_magentoconnector>
            <brera_magentoconnector_resource>
                <class>Brera_MagentoConnector_Model_Resource</class>
                <entities>
                    <product_queue>
                        <table>brera_product_queue</table>
                    </product_queue>
                </entities>
            </brera_magentoconnector_resource>
        </models>
        <helpers>
            <brera_magentoconnector>
                <class>Brera_MagentoConnector_Helper</class>
            </brera_magentoconnector>
        </helpers>
        <resources>
            <brera_magentoconnector_setup>
                <setup>
                    <module>Brera_MagentoConnector</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </brera_magentoconnector_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </brera_magentoconnector>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </brera_magentoconnector>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_attribute_update_after>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>catalogProductAttributeUpdateAfter</method>
                    </brera_magentoconnector>
                </observers>
            </catalog_product_attribute_update_after>
            <catalog_controller_product_delete>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>catalogControllerProductDelete</method>
                    </brera_magentoconnector>
                </observers>
            </catalog_controller_product_delete>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <brera_magentoconnector>
                        <class>brera_magentoconnector/observer</class>
                        <method>cataloginventoryStockItemSaveCommitAfter</method>
                    </brera_magentoconnector>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <brera_magentoconnector>
                        <class>brera_magentoconnector/observer</class>
                        <method>salesModelServiceQuoteSubmitBefore</method>
                    </brera_magentoconnector>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <brera_magentoconnector>
                        <class>brera_magentoconnector/observer</class>
                        <method>salesModelServiceQuoteSubmitFailure</method>
                    </brera_magentoconnector>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_item_cancel>
                <observers>
                    <brera_magentoconnector>
                        <class>brera_magentoconnector/observer</class>
                        <method>salesOrderItemCancel</method>
                    </brera_magentoconnector>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
                <observers>
                    <brera_magentoconnector>
                        <class>brera_magentoconnector/observer</class>
                        <method>salesOrderCreditmemoSaveAfter</method>
                    </brera_magentoconnector>
                </observers>
            </sales_order_creditmemo_save_after>
            <cobby_after_product_import>
                <observers>
                    <brera_magentoconnector>
                        <type>singleton</type>
                        <class>brera_magentoconnector/observer</class>
                        <method>cobbyAfterProductImport</method>
                    </brera_magentoconnector>
                </observers>
            </cobby_after_product_import>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <brera_magentoconnector>
                    <file>brera/magentoconnector.xml</file>
                </brera_magentoconnector>
            </updates>
        </layout>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Brera_MagentoConnector/>
            </modules>
        </suite>
    </phpunit>
</config>
