<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <brera translate="label" module="brera_magentoconnector">
            <label>Brera Catalog Replacement</label>
            <tab>catalog</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>

            <groups>
                <magentoconnector translate="label">
                    <label>MagentoConnector</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <product_xml_target translate="label comment">
                            <label>Target for product XML</label>
                            <comment><![CDATA[Insert a complete path, like: <pre>file://var/www/magento/var/product.xml</pre> or <pre>ssh2.scp://username:password/magento.xml</pre>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_xml_target>
                    </fields>
                </magentoconnector>
            </groups>
        </brera>
    </sections>
</config>
