<?xml version="1.0"?>
<config>
    <modules>
        <LizardsAndPumpkins_MagentoConnector>
            <version>0.0.6</version>
        </LizardsAndPumpkins_MagentoConnector>
    </modules>
    <global>
        <blocks>
            <lizardsAndPumpkins_magentoconnector>
                <class>LizardsAndPumpkins_MagentoConnector_Block</class>
            </lizardsAndPumpkins_magentoconnector>
        </blocks>
        <models>
            <lizardsAndPumpkins_magentoconnector>
                <class>LizardsAndPumpkins_MagentoConnector_Model</class>
                <resourceModel>lizardsAndPumpkins_magentoconnector_resource</resourceModel>
            </lizardsAndPumpkins_magentoconnector>
            <lizardsAndPumpkins_magentoconnector_resource>
                <class>LizardsAndPumpkins_MagentoConnector_Model_Resource</class>
            </lizardsAndPumpkins_magentoconnector_resource>
        </models>
        <helpers>
            <lizardsAndPumpkins_magentoconnector>
                <class>LizardsAndPumpkins_MagentoConnector_Helper</class>
            </lizardsAndPumpkins_magentoconnector>
        </helpers>
        <resources>
            <lizardsAndPumpkins_magentoconnector_setup>
                <setup>
                    <module>LizardsAndPumpkins_MagentoConnector</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </lizardsAndPumpkins_magentoconnector_setup>
        </resources>
        <events>
            <catalog_category_save_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>catalogCategoryDeleteAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </catalog_category_delete_after>
            <catalog_category_tree_move_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>catalogCategoryTreeMoveAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </catalog_category_tree_move_after>
            <catalog_product_save_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_attribute_update_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>catalogProductAttributeUpdateAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </catalog_product_attribute_update_after>
            <catalog_controller_product_delete>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>catalogControllerProductDelete</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </catalog_controller_product_delete>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>cataloginventoryStockItemSaveCommitAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>salesModelServiceQuoteSubmitBefore</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>salesModelServiceQuoteSubmitFailure</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_item_cancel>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>salesOrderItemCancel</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>salesOrderCreditmemoSaveAfter</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </sales_order_creditmemo_save_after>
            <cobby_after_product_import>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>cobbyAfterProductImport</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </cobby_after_product_import>
            <magmi_stock_was_updated>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>magmiStockWasUpdated</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </magmi_stock_was_updated>
            <magmi_products_were_updated>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>magmiProductsWereUpdated</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </magmi_products_were_updated>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <lizardsAndPumpkins_magentoconnector>
                    <file>lizardsAndPumpkins_magentoconnector.xml</file>
                </lizardsAndPumpkins_magentoconnector>
            </updates>
        </layout>
        <routers>
            <lizardsAndPumpkins_magentoconnector>
                <use>standard</use>
                <args>
                    <module>LizardsAndPumpkins_MagentoConnector</module>
                    <frontName>cart</frontName>
                </args>
            </lizardsAndPumpkins_magentoconnector>
        </routers>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <lizardsAndPumpkins_magentoconnector>
                        <type>singleton</type>
                        <class>lizardsAndPumpkins_magentoconnector/observer</class>
                        <method>controllerActionPredispatchCheckoutCartAdd</method>
                    </lizardsAndPumpkins_magentoconnector>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magentoconnector after="Mage_Adminhtml">LizardsAndPumpkins_MagentoConnector_Adminhtml</magentoconnector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <lizardsAndPumpkins>
            <magentoconnector>
                <local_path_for_product_export><![CDATA[file:///vagrant/]]></local_path_for_product_export>
                <local_filename_template><![CDATA[magento-%s.xml]]></local_filename_template>
                <stock_xml_target><![CDATA[file:///vagrant/stock.xml]]></stock_xml_target>
                <api_url><![CDATA[http://lizardsAndPumpkins-magento-connector.dev/lizardsAndPumpkins/api/]]></api_url>
                <cms_special_blocks>
                    <top.menu/>
                </cms_special_blocks>
            </magentoconnector>
        </lizardsAndPumpkins>
    </default>
    <phpunit>
        <suite>
            <modules>
                <LizardsAndPumpkins_MagentoConnector/>
            </modules>
        </suite>
    </phpunit>
</config>
